﻿<html>
<head>
    <meta charset="UTF-8">
    <title>Trade Viewer</title>
    <link rel="stylesheet" type="text/css" href="./static/bootstrap.min.css">
</head>
<h1>Trade Capture Viewer</h1>
<br />
<h2>Colonial Deals</h2>
<table class="table table-striped table-bordered">
    <thead class="thead text-center">
        <tr>
            <th>DateTime</th>
            <th>Type</th>
            <th>Trader</th>
            <th>Buy/Sell</th>
            <th>Counter-Party</th>
            <th>Quantity</th>
            <th>Cycle</th>
            <th>Product</th>
            <th scope="col">Exchange</th>
            <th scope="col">Contract Month</th>
            <th scope="col">Contract Type</th>
            <th scope="col">Differential</th>
            <th scope="col">Contract Price</th>
            <th scope="col">Cash</th>
            <th scope="col">Settlement Date</th>
        </tr>
    </thead>
    {% for item in colonialItems %}
    <TR>
        <td><a href="./trades/{{item.trade_id}}.html">{{ item.data.datetime }}</a></td>
        <td>{{ item.data.Trade_Type }}</td>
        <td>{{ item.data.trader_name }}</td>
        <td>{{ item.data.Buy_Sell }}</td>
        <td>{{ item.data.pred_counterparty }}</td>
        <td>{{ item.data.pred_quantity }}</td>
        <td>{{ item.data.pred_cycles }}</td>
        <td>{{ item.data.pred_product }}</td>
        <td>{{ item.data.pred_price.Contract_Exch }}</td>
        <td>{{ item.data.pred_price.Contract_Month }}</td>
        <td>{{ item.data.pred_price.Contract_Type }}</td>
        <td>{{ item.data.pred_price.Differential }}</td>
        <td>{{ item.data.pred_price.Merc_Price }}</td>
        <td>{{ item.data.pred_price.Cash_Price }}</td>
        <td>{{ item.data.pred_price.Settlement_Date }}</td>
    </TR>
    {% endfor %}
</table>

</html>