﻿<head>
    <meta charset="UTF-8">
    <title>Trade Details</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
</head>
<h1>Trade details</h1>
<table class="table table-striped table-bordered">
    <tr>
        {% for key in tradeItem.data %}
            {% if key == "pred_price" %}
                {% for subkey in tradeItem.data.pred_price %}
                    <tr><td>price_{{ subkey }}</td><td>{{tradeItem.data['pred_price'][subkey]}}</td></tr>
                {% endfor %}
            {% else %}
                <tr><td>{{ key }}</td><td>{{tradeItem.data[key]}}</td></tr>
            {% endif %}
        {% endfor %}
    </tr>
</table>
<button onclick="window.location.href='../index.html'">Back to Index</button>