﻿<html>
<head>
    <meta charset="UTF-8">
    <title>Trade Viewer</title>
    <link rel="stylesheet" type="text/css" href="./static/bootstrap.min.css">
</head>
<h1>Trade Capture Viewer</h1>
<br />
<table class="table table-striped table-bordered">
    <thead class="thead text-center">
        <tr>
            <th>DateTime</th>
            <th>Type</th>
            <th>Trader</th>
            <th class="text-secondary">Buy/Sell</th>
            <th>Counter-Party</th>
            <th>Quantity</th>
            <th>Cycle</th>
            <th>Product</th>
            <th>Pipeline</th>
            <th scope="col" class="text-secondary">Contract Month</th>
            <th scope="col" class="text-secondary">Differential</th>
            <th scope="col" class="text-secondary">Contract Price</th>
            <th scope="col" class="text-secondary">Cash</th>
            <th scope="col" class="text-secondary">Settlement Date</th>
        </tr>
    </thead>
    {% for item in colonialItems %}
    <TR>
        <td><a href="./trades/{{item.trade_id}}.html">{{ item.trade_details.Time }}</a></td>
        <td>{{ item.trade_details.pred }}</td>
        <td>{{ item.trade_details.UserName }}</td>
        <td></td>
        <td>{{ item.trade_details.COUNTERPARTY_COMPANY }} ({{ item.trade_details.COUNTERPARTY_TRADER }})</td>
        <td>{{ item.trade_details.VOLUME }}</td>
        <td>{{ item.trade_details.CYCLE_WINDOW }}</td>
        <td>{{ item.trade_details.PRODUCT }}</td>
        <td>{{ item.trade_details.PIPELINE }}</td>
        <td><i>{{ item.trade_details.pred_trade_details.pred_price.Contract_Month if item.trade_details.pred_trade_details != undefined }}</i></td>
        <td><i>{{ item.trade_details.pred_trade_details.pred_price.Differential if item.trade_details.pred_trade_details != undefined }}</i></td>
        <td><i>{{ item.trade_details.pred_trade_details.pred_price.Merc_Price if item.trade_details.pred_trade_details != undefined }}</i></td>
        <td><i>{{ item.trade_details.pred_trade_details.pred_price.Cash_Price if item.trade_details.pred_trade_details != undefined }}</i></td>
        <td><i>{{ item.trade_details.pred_trade_details.pred_price.Settle_Date if item.trade_details.pred_trade_details != undefined }}</i></td>
    </TR>
    {% endfor %}
</table>

</html>