﻿<head>
    <meta charset="UTF-8">
    <title>Trade Details</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <script>
        function updateText(id, value) {
            document.getElementById(id).value = value;
        }
    </script>
</head>
<h1>Trade details</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">Message</td>
        <td colspan="2" style="width: 50%"><textarea readonly style="min-width: 100%!important;">P66; Tony sells Trafi; Eric c17 a2 x 25mb @ May RB -1050 on a Floating EFP to price vs tmrw 3/15 settle</textarea></td>
    </tr>
    <tr>
        <td style="width: 10%">(ML Classification-V6)</td>
        <td style="width: 15%">Type</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected>FLOATING EFP</option>
                <option>EFP</option>
                <option>Floating EFP</option>
                <option>Index</option>
                <option>Trigger</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">DateTime</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value=2019-03-14T15:25:28.593Z style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">Trader</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value=ahightower1 style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">Buy/Sell</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected></option>
                <option>Buy</option>
                <option>Sell</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">Multi-leg</td>
        
        <td colspan="2" style="width: 50%"><input type="checkbox" value="Multi-leg Trade" /> Multi-leg Trade</td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Counterparty-Company</td>
        <td style="width: 50%"><input type="text" id="COUNTERPARTY_COMPANY" value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('COUNTERPARTY_COMPANY','Trafi')" class="btn btn-primary">Trafi</button>
            
            
        </td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Counterparty-Trader</td>
        <td style="width: 50%"><input type="text" id="COUNTERPARTY_TRADER" value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('COUNTERPARTY_TRADER','Eric')" class="btn btn-primary">Eric</button>
            
            
        </td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Volume</td>
        <td style="width: 50%"><input type="text" id="VOLUME" value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('VOLUME','25mb')" class="btn btn-primary">25mb</button>
            
            
        </td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Product</td>
        <td style="width: 50%"><input type="text" id="PRODUCT" value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('PRODUCT','a2')" class="btn btn-primary">a2</button>
            
            
        </td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)/(rules)</td>
        <td style="width: 15%">Pipeline</td>
        <td style="width: 50%"><input type="text" id="PIPELINE" value="" style="min-width: 100%!important;" /></td>
        <td style="width: 25%">
            

            
            <button type="button" onclick="updateText('PIPELINE','NA')" class="btn btn-secondary">NA</button>
            
        </td>
    </tr>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">CYCLE_WINDOW</td>
        <td style="width: 50%"><input type="text" id=CYCLE_WINDOW value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('CYCLE_WINDOW','c17')" class="btn btn-primary">c17</button>
            
            
        </td>
        
    </tr>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">price_Contract_Exch</td>
        <td style="width: 50%"><input type="text" id=Contract_Exch value=""  style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            <button type="button" onclick="updateText('Contract_Exch','NA')" class="btn btn-secondary">NA</button>
            
        </td>
        
    </tr>
    
    
    
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">price_Contract_Month</td>
        <td style="width: 50%"><input type="text" id=Contract_Month value=""  style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            <button type="button" onclick="updateText('Contract_Month','may')" class="btn btn-secondary">may</button>
            
        </td>
        
    </tr>
    
    
    
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">price_Contract_Type</td>
        <td style="width: 50%"><input type="text" id=Contract_Type value=""  style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            <button type="button" onclick="updateText('Contract_Type','rb')" class="btn btn-secondary">rb</button>
            
        </td>
        
    </tr>
    
    
    
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">price_Differential</td>
        <td style="width: 50%"><input type="text" id=Differential value=""  style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            <button type="button" onclick="updateText('Differential',' -1050 ')" class="btn btn-secondary"> -1050 </button>
            
        </td>
        
    </tr>
    
    
    
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">price_Settle_Date</td>
        <td style="width: 50%"><input type="text" id=Settle_Date value=""  style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            <button type="button" onclick="updateText('Settle_Date','TBD')" class="btn btn-secondary">TBD</button>
            
        </td>
        
    </tr>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</table>

<div align="right">
    <button type="button" class="btn btn-secondary" onclick="window.location.href='../index.html'">Back to Index</button>
</div>