﻿<head>
    <meta charset="UTF-8">
    <title>Trade Details</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <script>
        function updateText(id, value) {
            document.getElementById(id).value = value;
        }
    </script>
</head>
<h1>Trade details</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">Message</td>
        <td colspan="2" style="width: 50%"><textarea readonly style="min-width: 100%!important;">P66  (Taylor Rife) Sells UET (Zac Hildebrandt) 50mb/month;  62 grade; on 12 month strip (5/1/2019-4/30/2020); FOB Magellan E. Houston Tankage. Option to increase monthly volume to 75mb upon mutual agreement between parties. Nominations to be sent and received no later than the 15th day of prior month.   To be Priced at on Argus 62gr Pipeline Outright Mean; 3 day wrap;  plus a premium of 185 pts.  Exact pricing dates to be mutually agreed upon.</textarea></td>
    </tr>
    <tr>
        <td style="width: 10%">(ML Classification-V6)</td>
        <td style="width: 15%">Type</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected>INDEX</option>
                <option>EFP</option>
                <option>Floating EFP</option>
                <option>Index</option>
                <option>Trigger</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">DateTime</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value=2019-03-14T20:46:07.460Z style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">Trader</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value=trife style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">Buy/Sell</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected></option>
                <option>Buy</option>
                <option>Sell</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">Multi-leg</td>
        
        <td colspan="2" style="width: 50%"><input type="checkbox" value="Multi-leg Trade" checked /> Multi-leg Trade</td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Counterparty-Company</td>
        <td style="width: 50%"><input type="text" id="COUNTERPARTY_COMPANY" value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('COUNTERPARTY_COMPANY','UET')" class="btn btn-primary">UET</button>
            
            
        </td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Counterparty-Trader</td>
        <td style="width: 50%"><input type="text" id="COUNTERPARTY_TRADER" value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('COUNTERPARTY_TRADER','Zac Hildebrandt')" class="btn btn-primary">Zac Hildebrandt</button>
            
            
        </td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Volume</td>
        <td style="width: 50%"><input type="text" id="VOLUME" value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('VOLUME','50mb')" class="btn btn-primary">50mb</button>
            
            <button type="button" onclick="updateText('VOLUME','75mb')" class="btn btn-primary">75mb</button>
            
            
        </td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Product</td>
        <td style="width: 50%"><input type="text" id="PRODUCT" value="" style="min-width: 100%!important;" /></td>
        
        <td style="width: 25%">
            
            
            <button type="button" onclick="updateText('PRODUCT','62 grade')" class="btn btn-primary">62 grade</button>
            
            <button type="button" onclick="updateText('PRODUCT','62gr')" class="btn btn-primary">62gr</button>
            
            
        </td>
        
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)/(rules)</td>
        <td style="width: 15%">Pipeline</td>
        <td style="width: 50%"><input type="text" id="PIPELINE" value="" style="min-width: 100%!important;" /></td>
        <td style="width: 25%">
            

            
            <button type="button" onclick="updateText('PIPELINE','Magellan')" class="btn btn-secondary">Magellan</button>
            
        </td>
    </tr>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</table>

<div align="right">
    <button type="button" class="btn btn-secondary" onclick="window.location.href='../index.html'">Back to Index</button>
</div>