﻿<head>
    <meta charset="UTF-8">
    <title>Trade Details</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
</head>
<h1>Trade details</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td style="width: 25%">Message</td>
        <td colspan="2" style="width: 50%"><textarea readonly style="min-width: 100%!important;">Corrected  -485    Phillips 66 (Taylor Rife) sells 25mb C13 62grd (Non-Alabama Origin) on Floating EFP @ Apr HO NYMEX -485 to BPNA (Rob Kunkel) . . . Merc Price to be the Apr HO NYMEX Settlement for February 27; 2019 . . . TULL for Phillips 66 . . . RBC for BPNA</textarea></td>
    </tr>
    <tr>
        <td style="width: 25%">Type</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected>FLOATINGEFP</option>
                <option>EFP</option>
                <option>Floating EFP</option>
                <option>Index</option>
                <option>Trigger</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 25%">DateTime</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value=2019-02-26T16:06:15.605Z style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 25%">Trader</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value=trife style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 25%">Buy/Sell</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected>sells</option>
                <option>Buy</option>
                <option>Sell</option>
            </select>
        </td>
    </tr>
    
        
            
                <tr>
                    <td style="width: 25%">pred_product</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                        <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">62gr</button>
                            
                        
                        </td>
                    
                </tr>
            
        
    
        
            
                <tr>
                    <td style="width: 25%">pred_quantity</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                        <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">25mb</button>
                            
                        
                        </td>
                    
                </tr>
            
        
    
        
            
                <tr>
                    <td style="width: 25%">pred_cycles</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                        <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">c13</button>
                            
                        
                        </td>
                    
                </tr>
            
        
    
        
            
                <tr>
                    <td style="width: 25%">pred_counterparty</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                        <td style="width: 25%">
                        
                            <button type="button" class="btn btn-secondary">BPNA (Rob Kunkel)</button>
                        
                        </td>
                    
                </tr>
            
        
    
        
            
                <tr>
                    <td style="width: 25%">price_Contract_Month</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">apr</button>
                            
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Contract_Exch</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">nymex</button>
                            
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Contract_Type</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">ho</button>
                            
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Merc_Price</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%"></td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Cash_Price</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%"></td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Differential</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            <button type="button" class="btn btn-secondary">-485</button>
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Settlement_Date</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            <button type="button" class="btn btn-secondary">February 27; 2019</button>
                        
                    </td>
                    
                </tr>
            
        
    
        
            
            
        
    
        
            
            
        
    
        
            
            
        
    
        
            
            
        
    
        
            
            
        
    
</table>

<div align="right">
    <button type="button" class="btn btn-secondary" onclick="window.location.href='../index.html'">Back to Index</button>
    <button type="button" class="btn btn-danger">Remove Trade</button>
    <button type="button" class="btn btn-primary">Submit</button>
</div>