﻿<head>
    <meta charset="UTF-8">
    <title>Trade Details</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
</head>
<h1>Trade details</h1>
<table class="table table-striped table-bordered">
    <tr>
        
        <tr><td>trader_name</td><td>trife</td></tr>
        
        <tr><td>broker</td><td>Sage_Tanner Maffett</td></tr>
        
        <tr><td>product</td><td>62gr</td></tr>
        
        <tr><td>quantity</td><td>25mb</td></tr>
        
        <tr><td>price</td><td>{'contract': 'NYMEX Mar HO', 'contract_price': '1.8995', 'differential': '-595', 'cash_price': '1.8400'}</td></tr>
        
        <tr><td>datetime</td><td>2019-02-05T21:09:49.096Z</td></tr>
        
        <tr><td>via</td><td>Colonial</td></tr>
        
        <tr><td>trade_type</td><td>EFP</td></tr>
        
        <tr><td>cycle</td><td>C9</td></tr>
        
        <tr><td>counter_party</td><td>PAPCO - CHRIS LEWENDOWSKI</td></tr>
        
        <tr><td>message</td><td>*************** PHILLIPS 66 - TAYLOR RIFE SELLS TO PAPCO - CHRIS LEWENDOWSKI: 25MB C9 62grd FOB BASIS PDA ON EFP PRICING AT NYMEX MAR 1.8995 MINUS A DIFFERENTIAL OF 595 POINTS FOR CASH VALUE OF 1.8400 - TULL AND NEWEDGE ON THE FLOOR ****************</td></tr>
        
    </tr>
</table>
<button onclick="window.location.href='../index.html'">Back to Index</button>