﻿<head>
    <meta charset="UTF-8">
    <title>Trade Details</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
</head>
<h1>Trade details</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td style="width: 25%">Message</td>
        <td colspan="2" style="width: 50%"><textarea readonly style="min-width: 100%!important;">*************** PHILLIPS 66 - TAYLOR RIFE BUYS FROM VITOL â€“ RYAN ROCHA: 50MB C12 62GRD NON ALABAMA ORIGIN FOB BASIS PDA ON EFP PRICING AT NYMEX MAR 2.0180 MINUS A DIFFERENTIAL OF 540 POINTS FOR CASH VALUE OF 1.9640 - TULL AND PVM ON THE FLOOR ****************</textarea></td>
    </tr>
    <tr>
        <td style="width: 25%">Type</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected>EFP</option>
                <option>EFP</option>
                <option>Floating EFP</option>
                <option>Index</option>
                <option>Trigger</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 25%">DateTime</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value=2019-02-20T19:17:05.381Z style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 25%">Trader</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value=trife style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 25%">Buy/Sell</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected>buys</option>
                <option>Buy</option>
                <option>Sell</option>
            </select>
        </td>
    </tr>
    
        
            
                <tr>
                    <td style="width: 25%">pred_product</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                        <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">62gr</button>
                            
                        
                        </td>
                    
                </tr>
            
        
    
        
            
                <tr>
                    <td style="width: 25%">pred_quantity</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                        <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">50mb</button>
                            
                        
                        </td>
                    
                </tr>
            
        
    
        
            
                <tr>
                    <td style="width: 25%">pred_cycles</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                        <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">c12</button>
                            
                        
                        </td>
                    
                </tr>
            
        
    
        
            
                <tr>
                    <td style="width: 25%">pred_counterparty</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                        <td style="width: 25%">
                        
                            <button type="button" class="btn btn-secondary">vitol â€“ ryan rocha</button>
                        
                        </td>
                    
                </tr>
            
        
    
        
            
                <tr>
                    <td style="width: 25%">price_Context</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            <button type="button" class="btn btn-secondary">a on efp pricing at nymex mar 2.0180 minus a differential of 540 points for cash value of 1.9640 - tull and pvm on t</button>
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Contract_Month</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">mar</button>
                            
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Contract_Exch</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            
                                <button type="button" class="btn btn-secondary">nymex</button>
                            
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Contract_Type</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%"></td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Merc_Price</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            <button type="button" class="btn btn-secondary">NA</button>
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Cash_Price</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            <button type="button" class="btn btn-secondary">1.9640</button>
                        
                    </td>
                    
                </tr>
            
                <tr>
                    <td style="width: 25%">price_Differential</td>
                    <td style="width: 50%"><input type="text" style="min-width: 100%!important;" /></td>
                    
                    <td style="width: 25%">
                        
                            <button type="button" class="btn btn-secondary">-540</button>
                        
                    </td>
                    
                </tr>
            
        
    
        
            
            
        
    
        
            
            
        
    
        
            
            
        
    
        
            
            
        
    
        
            
            
        
    
</table>

<div align="right">
    <button type="button" class="btn btn-secondary" onclick="window.location.href='../index.html'">Back to Index</button>
    <button type="button" class="btn btn-danger">Remove Trade</button>
    <button type="button" class="btn btn-primary">Submit</button>
</div>