<head>
    <meta charset="UTF-8">
    <title>Trade Details</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <script>
        function updateText(id, value) {
            document.getElementById(id).value = value;
        }
    </script>
</head>
<h1>Trade details</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">Message</td>
        <td colspan="2" style="width: 50%"><textarea readonly style="min-width: 100%!important;">{{tradeItem.trade_details['Message']}}</textarea></td>
    </tr>
    <tr>
        <td style="width: 10%">(ML Classification-V6)</td>
        <td style="width: 15%">Type</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected>{{tradeItem.trade_details['pred']}}</option>
                <option>EFP</option>
                <option>Floating EFP</option>
                <option>Index</option>
                <option>Trigger</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">DateTime</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value={{tradeItem.trade_details['Time']}} style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">Trader</td>
        <td colspan="2" style="width: 50%"><input type="text" readonly value={{tradeItem.trade_details['UserName']}} style="min-width: 100%!important;" /></td>
    </tr>
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">Buy/Sell</td>
        <td colspan="2" style="width: 50%">
            <select style="min-width: 100%!important;">
                <option selected>{{tradeItem.trade_details['pred_buysell']}}</option>
                <option>Buy</option>
                <option>Sell</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">Multi-leg</td>
        {% if tradeItem.trade_details['pred_multileg'] == 1 %}
        <td colspan="2" style="width: 50%"><input type="checkbox" value="Multi-leg Trade" checked /> Multi-leg Trade</td>
        {% else %}
        <td colspan="2" style="width: 50%"><input type="checkbox" value="Multi-leg Trade" /> Multi-leg Trade</td>
        {% endif %}
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Counterparty-Company</td>
        <td style="width: 50%"><input type="text" id="COUNTERPARTY_COMPANY" value="" style="min-width: 100%!important;" /></td>
        {% if tradeItem.trade_details['COUNTERPARTY_COMPANY'] is defined and tradeItem.trade_details['COUNTERPARTY_COMPANY']|length and tradeItem.trade_details['COUNTERPARTY_COMPANY'][0]|string|length  %}
        <td style="width: 25%">
            {% if tradeItem.trade_details['COUNTERPARTY_COMPANY'] is not string %}
            {% for pred in tradeItem.trade_details['COUNTERPARTY_COMPANY'] %}
            <button type="button" onclick="updateText('COUNTERPARTY_COMPANY','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            {% if "[" in tradeItem.trade_details['COUNTERPARTY_COMPANY'] and "]" in tradeItem.trade_details['COUNTERPARTY_COMPANY'] %}
            {% for pred in tradeItem.trade_details['COUNTERPARTY_COMPANY'] %}
            <button type="button" onclick="updateText('COUNTERPARTY_COMPANY','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            <button type="button" onclick="updateText('COUNTERPARTY_COMPANY','{{tradeItem.trade_details['COUNTERPARTY_COMPANY']}}')" class="btn btn-primary">{{tradeItem.trade_details['COUNTERPARTY_COMPANY']}}</button>
            {% endif %}
            {% endif %}
        </td>
        {% else %}
        <td style="width: 25%"></td>
        {% endif %}
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Counterparty-Trader</td>
        <td style="width: 50%"><input type="text" id="COUNTERPARTY_TRADER" value="" style="min-width: 100%!important;" /></td>
        {% if tradeItem.trade_details['COUNTERPARTY_TRADER'] is defined and tradeItem.trade_details['COUNTERPARTY_TRADER']|length and tradeItem.trade_details['COUNTERPARTY_TRADER'][0]|string|length  %}
        <td style="width: 25%">
            {% if tradeItem.trade_details['COUNTERPARTY_TRADER'] is not string %}
            {% for pred in tradeItem.trade_details['COUNTERPARTY_TRADER'] %}
            <button type="button" onclick="updateText('COUNTERPARTY_TRADER','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            {% if "[" in tradeItem.trade_details['COUNTERPARTY_TRADER'] and "]" in tradeItem.trade_details['COUNTERPARTY_TRADER'] %}
            {% for pred in tradeItem.trade_details['COUNTERPARTY_TRADER'] %}
            <button type="button" onclick="updateText('COUNTERPARTY_TRADER','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            <button type="button" onclick="updateText('COUNTERPARTY_TRADER','{{tradeItem.trade_details['COUNTERPARTY_TRADER']}}')" class="btn btn-primary">{{tradeItem.trade_details['COUNTERPARTY_TRADER']}}</button>
            {% endif %}
            {% endif %}
        </td>
        {% else %}
        <td style="width: 25%"></td>
        {% endif %}
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Volume</td>
        <td style="width: 50%"><input type="text" id="VOLUME" value="" style="min-width: 100%!important;" /></td>
        {% if tradeItem.trade_details['VOLUME'] is defined and tradeItem.trade_details['VOLUME']|length and tradeItem.trade_details['VOLUME'][0]|string|length  %}
        <td style="width: 25%">
            {% if tradeItem.trade_details['VOLUME'] is not string %}
            {% for pred in tradeItem.trade_details['VOLUME'] %}
            <button type="button" onclick="updateText('VOLUME','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            {% if "[" in tradeItem.trade_details['VOLUME'] and "]" in tradeItem.trade_details['VOLUME'] %}
            {% for pred in tradeItem.trade_details['VOLUME'] %}
            <button type="button" onclick="updateText('VOLUME','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            <button type="button" onclick="updateText('VOLUME','{{tradeItem.trade_details['VOLUME']}}')" class="btn btn-primary">{{tradeItem.trade_details['VOLUME']}}</button>
            {% endif %}
            {% endif %}
        </td>
        {% else %}
        <td style="width: 25%"></td>
        {% endif %}
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">Product</td>
        <td style="width: 50%"><input type="text" id="PRODUCT" value="" style="min-width: 100%!important;" /></td>
        {% if tradeItem.trade_details['PRODUCT'] is defined and tradeItem.trade_details['PRODUCT']|length and tradeItem.trade_details['PRODUCT'][0]|string|length  %}
        <td style="width: 25%">
            {% if tradeItem.trade_details['PRODUCT'] is not string %}
            {% for pred in tradeItem.trade_details['PRODUCT'] %}
            <button type="button" onclick="updateText('PRODUCT','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            {% if "[" in tradeItem.trade_details['PRODUCT'] and "]" in tradeItem.trade_details['PRODUCT'] %}
            {% for pred in tradeItem.trade_details['PRODUCT'] %}
            <button type="button" onclick="updateText('PRODUCT','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            <button type="button" onclick="updateText('PRODUCT','{{tradeItem.trade_details['PRODUCT']}}')" class="btn btn-primary">{{tradeItem.trade_details['PRODUCT']}}</button>
            {% endif %}
            {% endif %}
        </td>
        {% else %}
        <td style="width: 25%"></td>
        {% endif %}
    </tr>
    <tr>
        <td style="width: 10%">(ML Entity)/(rules)</td>
        <td style="width: 15%">Pipeline</td>
        <td style="width: 50%"><input type="text" id="PIPELINE" value="" style="min-width: 100%!important;" /></td>
        <td style="width: 25%">
            {% if tradeItem.trade_details['PIPELINE'] is defined and tradeItem.trade_details['PIPELINE']|length and tradeItem.trade_details['PIPELINE'][0]|string|length  %}
            {% if tradeItem.trade_details['PIPELINE'] is not string %}
            {% for pred in tradeItem.trade_details['PIPELINE'] %}
            <button type="button" onclick="updateText('PIPELINE','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            {% if "[" in tradeItem.trade_details['PIPELINE'] and "]" in tradeItem.trade_details['PIPELINE'] %}
            {% for pred in tradeItem.trade_details['PIPELINE'] %}
            <button type="button" onclick="updateText('PIPELINE','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            <button type="button" onclick="updateText('PIPELINE','{{tradeItem.trade_details['PIPELINE']}}')" class="btn btn-primary">{{tradeItem.trade_details['PIPELINE']}}</button>
            {% endif %}
            {% endif %}
            {% endif %}

            {% if tradeItem.trade_details['pred_pipeline'] is defined and tradeItem.trade_details['pred_pipeline']|length %}
            <button type="button" onclick="updateText('PIPELINE','{{tradeItem.trade_details['pred_pipeline']}}')" class="btn btn-secondary">{{tradeItem.trade_details['pred_pipeline']}}</button>
            {% endif %}
        </td>
    </tr>
    {% for key in tradeItem.trade_details %}
    {% if key == "pred_trade_details" %}
    {% for subkey in tradeItem.trade_details.pred_trade_details.pred_price %}
    {% if subkey != "Context" %}
    <tr>
        <td style="width: 10%">(rules)</td>
        <td style="width: 15%">price_{{ subkey }}</td>
        <td style="width: 50%"><input type="text" id={{ subkey }} value=""  style="min-width: 100%!important;" /></td>
        {% if tradeItem.trade_details.pred_trade_details['pred_price'][subkey] is defined and tradeItem.trade_details.pred_trade_details['pred_price'][subkey]|length and tradeItem.trade_details.pred_trade_details['pred_price'][subkey][0]|length %}
        <td style="width: 25%">
            {% if tradeItem.trade_details.pred_trade_details['pred_price'][subkey] is not string %}
            {% for pred in tradeItem.trade_details.pred_trade_details['pred_price'][subkey] %}
            <button type="button" onclick="updateText('{{ subkey }}','{{pred}}')" class="btn btn-secondary">{{pred}}</button>
            {% endfor %}
            {% else %}
            <button type="button" onclick="updateText('{{ subkey }}','{{tradeItem.trade_details.pred_trade_details['pred_price'][subkey]}}')" class="btn btn-secondary">{{tradeItem.trade_details.pred_trade_details['pred_price'][subkey]}}</button>
            {% endif %}
        </td>
        {% else %}
        <td style="width: 25%"></td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
    {% else %}
    {% if key == "CYCLE_WINDOW" %}
    <tr>
        <td style="width: 10%">(ML Entity)</td>
        <td style="width: 15%">{{ key }}</td>
        <td style="width: 50%"><input type="text" id={{ key }} value="" style="min-width: 100%!important;" /></td>
        {% if tradeItem.trade_details[key] is defined and tradeItem.trade_details[key]|length and tradeItem.trade_details[key][0]|string|length  %}
        <td style="width: 25%">
            {% if tradeItem.trade_details[key] is not string %}
            {% for pred in tradeItem.trade_details[key] %}
            <button type="button" onclick="updateText('{{ key }}','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            {% if "[" in tradeItem.trade_details[key] and "]" in tradeItem.trade_details[key] %}
            {% for pred in tradeItem.trade_details[key] %}
            <button type="button" onclick="updateText('{{ key }}','{{pred}}')" class="btn btn-primary">{{pred}}</button>
            {% endfor %}
            {% else %}
            <button type="button" onclick="updateText('{{ key }}','{{tradeItem.trade_details[key]}}')" class="btn btn-primary">{{tradeItem.trade_details[key]}}</button>
            {% endif %}
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% elif key == "Message" or key == "pred" or key == "Time" or key == "UserName" or key == "Buy_Sell" or "_score" in key or "Contact" in key or key == "Reference_Line_Number" or key == "Sent/Received" or key == "Trade_Detected" or key == "pred_multileg" or key == "pred_pipeline" or key == "COUNTERPARTY_COMPANY" or key == "COUNTERPARTY_TRADER" or key == "PRODUCT" or key == "VOLUME" or key == "PIPELINE" or key == "pred_buysell" %}
    {% else %}
    <tr>
        <td style="width: 10%">(metadata)</td>
        <td style="width: 15%">{{ key }}</td>
        <td colspan="2" style="width: 50%"><input type="text" placeholder={{tradeItem.trade_details[key]}} style="min-width: 100%!important;" /></td>
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
</table>

<div align="right">
    <button type="button" class="btn btn-secondary" onclick="window.location.href='../index.html'">Back to Index</button>
</div>
